generated/sample-api-v1.0.0/schemas/response/get-item-by-id-response.xsd

<?xml version='1.0' encoding='utf-8'?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified">
  <xs:element name="GetItemByIdResponse" type="GetItemByIdResponseType" />
  <xs:complexType name="GetItemByIdResponseType">
    <xs:sequence>
      <!-- Always present: SUCCESS or FAILED -->
      <xs:element name="status" type="StatusType" minOccurs="1" maxOccurs="1" />
      <!-- Filled on SUCCESS (from item) -->
      <xs:element name="item" type="ItemResponseType" minOccurs="0" maxOccurs="1" />
      <!-- Filled on FAILED; maxOccurs=unbounded → serialized as JSON array -->
      <xs:element name="errors" type="ErrorItemType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="StatusType">
    <xs:restriction base="xs:string">
      <!-- Operation succeeded -->
      <xs:enumeration value="SUCCESS" />
      <!-- Operation failed -->
      <xs:enumeration value="FAILED" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ErrorDetailsType">
    <xs:sequence>
      <!-- Error identification code -->
      <xs:element name="identification" type="xs:string" minOccurs="0" maxOccurs="1" />
      <!-- Error diagnostic message -->
      <xs:element name="diagnose" type="xs:string" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ErrorItemType">
    <xs:sequence>
      <!-- Machine-readable error code -->
      <xs:element name="code" type="xs:string" minOccurs="1" maxOccurs="1" />
      <!-- Human-readable error message -->
      <xs:element name="message" type="xs:string" minOccurs="1" maxOccurs="1" />
      <!-- Error details (backend-specific) -->
      <xs:element name="details" type="ErrorDetailsType" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemResponseType">
    <xs:sequence>
      <!-- Unique item identifier -->
      <xs:element name="itemId" type="xs:string" minOccurs="1" maxOccurs="1" />
      <!-- Item name -->
      <xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1" />
      <!-- Item description -->
      <xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1" />
      <!-- Item price in EUR -->
      <xs:element name="price" type="xs:decimal" minOccurs="1" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>